$white: white;
$black: black;
$gray: gray;
$darkGray: darkgray;
$primary: #95e5da;
$secondary: #83d3ca;

$smallFont: 1rem;
$xsmallFont: 0.85rem;
$xxsmallFont: 0.75rem;
$mediumFont: 1.25rem;
$lmediumFont: 1.5rem;
$largeFont: 2rem;
$xlargeFont: 2.5rem;
$xxlargeFont: 3rem;

$maxWidth: 1250px;