$white: white;
$black: black;
$gray: gray;
$darkGray: darkgray;
$primary: #1E9A78;
$secondary: #83d3ca;
$tertiary: #0E4D3A;
$orange: #f79d27;

$smallFont: 1rem;
$xsmallFont: 0.85rem;
$xxsmallFont: 0.75rem;
$smallerFont: 1.15rem;
$mediumFont: 1.25rem;
$lmediumFont: 1.5rem;
$largeFont: 2rem;
$xlargeFont: 2.5rem;
$xxlargeFont: 3rem;

$maxWidth: 1250px;