$white: white;
$black: black;
$gray: gray;
$darkGray: darkgray;
$hoverOrange: #F09440;

$smallFont: 1rem;
$xsmallFont: 0.75rem;
$mediumFont: 1.25rem;
$lmediumFont: 1.5rem;
$largeFont: 2rem;
$xlargeFont: 2.5rem;
$xxlargeFont: 3rem;