@import './_variables.scss';
@import './_mixins.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $maxWidth;
  margin-bottom: 40px; 
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  z-index: -1;
  filter: brightness(80%);
  .image {
    object-fit: cover;
    object-position: center;
  }
}

.intro {
  color: $white;
  padding: 150px 1rem 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-align: left;  
}
.title {
  margin: 0;
  font-size: $xxlargeFont;
}

.subtitle {
  margin: 0 0 0.5rem;
  font-size: $xsmallFont;
}

.highlighted {
  color: $orange;
}

.description {
  line-height: 1.5;
  font-size: $mediumFont;
  width: 650px;
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: calc(25% - 2rem);
  max-width: calc(25% - 2rem);
  box-sizing: border-box;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $white;

  h3, svg {
    color: $orange;
  }

}
.sportsCard {
  h3, svg {
    color: $tertiary !important;
  }
}

.card p {
  margin: 0;
  font-size: $xsmallFont;
  line-height: 1.5;
  flex-grow: 1;
}

.card:hover,
.card:focus,
.card:active {
  background: linear-gradient($primary, $white);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;

}

.stepsContainer {
  margin: 5vh;
  font-size: $smallFont;
  h2 {
    font-weight: normal;
    margin-top: 0;
  }
  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon {
    width: 15px;
  }
}

.separator {
  margin: 10px 0px;
  color: $black;
  width: 700px;
}

.quote {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: $mediumFont;
  margin: 2rem 0 3rem;
  .openingQuote {
    font-size: $xxlargeFont;
  }
  p {
    max-width: 80%;
  }
  .closingQuote {
    font-size: $xxlargeFont;
    display: flex;
    align-items: flex-end;
  }
}


.bigCard {
  background: rgba($color: $primary, $alpha: 0.2);
  border: none;
  max-width: 100%;
  color: $black;
}

.bigCard:hover,
.bigCard:focus,
.bigCard:active {
  color: $white;
  border-color: $secondary;
}

.trainingIcon {
  margin-bottom: 15px;
  svg {
    height: 20px;
  }
}

.whatsappSticky {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  cursor: pointer;
}

.whatsappSticky.hidden {
  display: none;
}

@include mobile-or-less {
  .intro {
    padding-bottom: 0.5rem;
  }
  .grid {
    width: 100%;
    flex-direction: column;
    margin-top: 2rem;
  }
  .card {
    flex-basis: 100%;
    max-width: 100%;
  }

  .whatsappSticky {
    bottom: 1rem;
    right: 1rem;
  }

  .description {
    line-height: normal;
    font-size: $smallerFont;
    width: 100%;
  }

  .stepsContainer {
    margin: 1vh 2vh;
    h2 {
      font-size: $mediumFont;
    }
  }

  .separator {
    width: 145px;
  }

  .quote {
    margin: 1rem 0 4rem;
  }
}
