@import './_variables.scss';

.container {
  margin: 75px 0;
  padding: 0 1rem;
  h1 {
    color: $tertiary;
  }
}

.explanation {
  max-width: $maxWidth;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.textAndImage {
  display: flex;
  gap: 3rem;
}

.remark {
  font-size: $xsmallFont;
}

.goBack {
  margin-top: 5vh;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.icon {
  width: 10px;
}

@media (max-width: 600px) {
  .textAndImage {
    display: flex;
    flex-direction: column;
  }
}