@import './_variables.scss';
@import './_mixins.scss';

.container {
  margin: 75px 0;
  padding: 0 1rem;
  h1 {
    color: $tertiary;
  }
}

.explanation {
  max-width: $maxWidth;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.textAndImage {
  display: flex;
  gap: 3rem;
}

.text {
  max-width: 60%;
}

.remark {
  font-size: $xsmallFont;
}

.goBack {
  margin: 10vh 0;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.icon {
  width: 10px;
}

.customList {
  list-style-type: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
  font-weight: bold;
  line-height: 2;
}

.customList li::before {
  content: '+ '; /* Set the content to "+" followed by a space */
  font-weight: bold; /* Make the "+" bold if needed */
  color: blcak; /* Set the color of the "+" sign */
  margin-right: 5px; /* Add some spacing between the "+" sign and the text */
}

.sumUpQuote {
  font-weight: bold;
  text-align: center;
}

@include mobile-or-less {
  .textAndImage {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .text {
    max-width: 100%;
  }
}